name: Verify type labels

on:
  pull_request:
    types: [ opened, reopened, labeled, unlabeled, synchronize ]

jobs:
  triage:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - uses: tkt-actions/add-issue-links@v1.4.0
        with:
          repo-token: '${{ secrets.GITHUB_TOKEN }}'
          branch-prefix: '/'
          resolve: trueï£¿
      - name: Add lables
        uses: IvanFon/super-labeler-action@v1
        with:
          github-token: '${{ secrets.GITHUB_TOKEN }}'
      - name: Check lables
        uses: zwaldowski/match-label-action@v2
        with:
          allowed: 'type:fix, type:features, type:documentation, type:tests, type:config'